<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.bito.soma.quiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="戦国時代クイズ"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quiz">
        <activity android:name=".AllQuizActivity"></activity>
        <activity android:name=".ResultActivity6" />
        <activity android:name=".QuizActivity6" />
        <activity android:name=".ResultActivity5" />
        <activity android:name=".QuizActivity5" />
        <activity android:name=".ResultActivity4" />
        <activity android:name=".QuizActivity4" />
        <activity android:name=".ResultActivity3" />
        <activity android:name=".QuizActivity3" />
        <activity android:name=".ResultActivity2" />
        <activity android:name=".QuizActivity2" />
        <activity android:name=".ResultActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>